@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.sidebar {
    background-color: #343a40;
    min-height: calc(100vh - 56px);
}

.sidebar .nav-item .nav-link {
    color: #fff;
}