@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.navbar.navbar-expand.navbar-dark.bg-dark.static-top {
    /*background-color: #040505 !important;*/
}

.sidebar {
    background-color: #343a40;
    min-height: calc(100vh - 56px);
}

.sidebar .nav-item .nav-link {
    color: #fff;
}

.navbar.navbar-expand.navbar-dark.bg-dark.static-top {
    /*background-color: blue !important*/
}

#wrapper #content-wrapper {
    background-color: ghostwhite
}

#content-wrapper form {
    background-color: #fff;
    padding: 5px;
    border: solid 1px #EDEFF2;
    border-radius: .25rem
}

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed;
}

.breadcrumb-item.active {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: .25rem;
    border-bottom-right-radius: 45px
}
